
.main-layout {
    /* height: 500px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: white !important;

}

/* sear bar */
.search-bar {
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-bar button {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.slide-bar {
    width: 250px;
    min-height: 100vh;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Tiêu đề TOUR */
.slide-bar a {
    display: block;
    color: rgb(187, 212, 74);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 15px;
}

/* Danh sách menu */
.slide-bar .nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Mục menu */
.slide-bar .nav-item {
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.5s ease;
}

/* Link trong menu */
.slide-bar .nav-item a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Hiệu ứng hover */
.slide-bar .nav-item:hover {
    background-color: #4e7296;
    transform: translateX(5px);
}


/* product-list */
.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 75px;
    row-gap: 20px;
    padding: 20px 50px;
    flex: 1;
}

.product-item{
    background-color: rgba(185, 185, 184, 0.205);
    padding: 10px;
}
.product-item:hover{
    background-color: rgba(59, 90, 127, 0.138);
}

.product-item img {
    height: 250px;
    max-width: 250px;
}

.product-item .lable-item{
    font-weight: bold;
    font-size: 20px;
}

.product-item .lable-item a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.product-item .lable-item a:hover{
    text-decoration: underline;
    color: blue;
    font-weight: bold;
    font-size: 20px;
}

.detail > p{
    line-break: anywhere;
}

.product-item .price {
    color: red;
    font-weight: bold;
}